.vest {
	font-family: Verdana;
	font-size: 11px;
	line-height: 17px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-position: center top;
	background-repeat: repeat;
	background-color: #EAEAEA;
}
.button {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #6C6C6C;
	text-decoration: none;
	line-height: 17px;
}
.button a:link {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #6C6C6C;
	text-decoration: none;
	line-height: 17px;
}
.button a:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #6C6C6C;
	text-decoration: none;
	line-height: 17px;
}
.button a:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #3F65A4;
	text-decoration: none;
	line-height: 17px;
}

.button a:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #6C6C6C;
	text-decoration: none;
	line-height: 17px;
}
.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
.txthg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 25px;
	color: #FCFCFC;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}
.toprk {
	font-family: Calibri;
	font-size: 26px;
	line-height: 30px;
	color: #134B70;
	text-decoration: none;
	font-weight: normal;

}
.webtech {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	line-height: 22px;
	background-color: #F2F2F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E0E0E0;
	padding-left: 10px;
}
.webtech a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	line-height: 18px;
}
.webtech a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	line-height: 18px;
}
.webtech a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #3F65A4;
	text-decoration: none;
	line-height: 18px;
}
.webtech a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #747474;
	text-decoration: none;
	line-height: 18px;
}
.contact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 22px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	height: 50px;
}
.contact a:visited {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}
.contact a:hover {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #3F65A4;
	text-decoration: none;
	font-weight: bold;	
}


.contact a:active {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;	
}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.text01 {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #999999;
	text-decoration: none;
	line-height: 16px;
	font-weight: normal;
}
.text01 a:hover {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #3F65A4;
	text-decoration: none;
	line-height: 16px;
}

.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-decoration: none;
	font-weight: normal;
	line-height: 25px;

}
.title {
	font-family: Calibri;
	font-size: 22px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 28px;
	font-style: normal;
	text-transform: uppercase;
}
.sit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #035096;
	text-decoration: none;
	line-height: 20px;
}
.sit a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #035096;
	text-decoration: none;
	line-height: 20px;
}
.sit a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #035096;
	text-decoration: none;
	line-height: 20px;
}
.sit a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #DE0047;
	text-decoration: none;
	line-height: 20px;
}
.sit a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #035096;
	text-decoration: none;
	line-height: 20px;
}
.add {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
}
.add a:link {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #124B97;
	text-decoration: none;
	line-height: 20px;
}
.add a:visited {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #124B97;
	text-decoration: none;
	line-height: 20px;
}
.add a:hover {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.add a:active {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #124B97;
	text-decoration: none;
	line-height: 20px;
}
.head {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E7E7E7;
	border-bottom-color: #E7E7E7;
	border-left-color: #E7E7E7;
}
.cadd {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E7E7E7;
	border-bottom-color: #E7E7E7;
	border-left-color: #E7E7E7;
}
.cadd a:link {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:visited {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:hover {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #3F65A4;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:active {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.title01 {
	font-family: Calibri;
	font-size: 24px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 28px;
	font-style: normal;
}
.title01 a:link {
	font-family: Calibri;
	font-size: 24px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 28px;
	font-style: normal;
}
.title01 a:visited {
	font-family: Calibri;
	font-size: 24px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 28px;
	font-style: normal;
}
.title01 a:hover {
	font-family: Calibri;
	font-size: 24px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
	line-height: 28px;
	font-style: normal;
}
.title01 a:active {
	font-family: Calibri;
	font-size: 24px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 28px;
	font-style: normal;
}
.title02 {
	line-height: 25px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0097E0;
	font-weight: bold;
	text-transform: uppercase;
}
.bottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.bottom a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.bottom a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.bottom a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFF33;
	text-decoration: none;
}
.bottom a:active  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.con {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 25px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	padding-left: 10px;
}
.link {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link a:link {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link a:visited {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link a:hover {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #7D1A77;
	text-decoration: none;
}
.link a:active  {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}

.txt01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 22px;
	color: #666666;
	text-decoration: none;
	text-align: justify;
}
.txt02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.txt02 :link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 a:visited {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 a:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
}
.txt02 a:active  {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.btn_01 {
	font-family: Calibri;
	font-size: 15px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 22px;
	border-bottom-style: none;
	text-transform: capitalize;
}
.btn_01 a:link  {
	font-family: Calibri;
	font-size: 15px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 22px;
	text-transform: uppercase;
}
.btn_01 a:visited {
	font-family: Calibri;
	font-size: 15px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 22px;
	text-transform: uppercase;
}
.btn_01 a:hover {
	font-family: Calibri;
	font-size: 15px;
	font-weight: normal;
	color: #FDD400;
	text-decoration: none;
	line-height: 22px;
	text-transform: uppercase;
}
.btn_01 a:active {
	font-family: Calibri;
	font-size: 15px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 22px;
	text-transform: uppercase;
}
.btn_02 {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 23px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CFD6A3;
	padding-bottom: 3px;
}
.btn_02 a:link  {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 23px;
	padding-bottom: 3px;
}
.btn_02 a:visited {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 23px;
	padding-bottom: 3px;
}
.btn_02 a:hover {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFF00;
	text-decoration: none;
	line-height: 23px;
	padding-bottom: 3px;
}
.btn_02 a:active {
	font-family: Arial, Helvetica, sans-serif, Tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 23px;
	padding-bottom: 3px;
}
.btn_03 {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	color: #164E73;
	text-decoration: none;
	line-height: 18px;
}
.btn_03 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #E98900;
	text-decoration: none;
	line-height: 22px;
}
.btn_03 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #E98900;
	text-decoration: none;
	line-height: 22px;
}
.btn_03 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #383838;
	text-decoration: none;
	line-height: 22px;
}
.btn_03 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #E98900;
	text-decoration: none;
	line-height: 22px;
}
.btn_04 {
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
	color: #FEFEFE;
	text-decoration: none;
	line-height: 25px;
	text-transform: none;
}
.btn_04 a:link  {
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
	color: #FEFEFE;
	text-decoration: none;
	line-height: 25px;
	text-transform: none;
}
.btn_04 a:visited {
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
	color: #FEFEFE;
	text-decoration: none;
	line-height: 25px;
	text-transform: none;
}
.btn_04 a:hover {
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
	color: #F9F900;
	text-decoration: none;
	line-height: 25px;
	text-transform: none;
}
.btn_04 a:active {
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
	color: #FEFEFE;
	text-decoration: none;
	line-height: 25px;
	text-transform: none;
}
.btn_05 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:link  {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:visited {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:active {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
} 
.ibdr {
	border: 1px solid #BEBEBE;
}
a:hover .ibdr { border: 2px solid #666666; }

/* I'm confused about the line below. */
a:hover { color: #fff; } 
.partner {
	border: 1px solid #F5F5F5;
}
a:hover .partner { border: 1px solid #BEDA26; }

/* I'm confused about the line below. */
a:hover { color: #fff; } 
/**
 * Mail form
 */
#mailform label {
	float: left;
	width: 70px;
}
#mailform input,
#mailform textarea {
	float: left;
	width: 195px;
	margin-bottom: 10px;
}
.button-class{height:auto; background:none; border:none; width:auto; padding:0px; margin:0px;}
#menu1 a {color:black;background-color:white;text-decoration:none;text-indent:1ex;}
#menu1 a:active {color:black;text-decoration:none;}
#menu1 a:hover {color:black;background-color:#FFFF99}
#menu1 a:visited {color:black;text-decoration:none;}

#menu2 a {color:navy;background-color:white;text-decoration:none;text-indent:1ex;}
#menu2 a:active	{color:blue;text-decoration:none;}
#menu2 a:visited {color:blue;text-decoration:none;}
#menu2 a:hover {color:navy;background-color:#f0fea8}

#menu3 a { /*Menu3 Links*/
color:black;
background-color:white;
text-decoration:none;
text-indent:1ex;
}
#menu3 a:hover {
color:black;background-color:#FFFF99;
}
#menu3 a:active	{color:black;text-decoration:none;}
#menu3 a:visited	{color:black;text-decoration:none;}
.box_type_4 {
	color:#333333;
	background-image: url(../images/header_coupons.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 10;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	height: auto;
	background-color: #0F7DB8;
}
.box_type_2 {
	color:#333333;
	background-image: url(../images/header_services.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 10;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	height: auto;
	background-color: #0F7DB8;
}
.box_type_1 {
	color:#333333;
	background-image: url(../images/header_about.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 10;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	height: auto;
	background-color: #0F7DB8;
}
	
.box_type_3 {
	color:#444548;
	background-image: url(../images/order_pic.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 10;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	height: auto;
}
.btn_06 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #16A83D;
	text-decoration: none;
	line-height: 25px;
}
.btn_06 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #16A83D;
	text-decoration: none;
	line-height: 25px;
}
.btn_06 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #16A83D;
	text-decoration: none;
	line-height: 25px;
}
.btn_06 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	line-height: 25px;
}
.btn_06 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #16A83D;
	text-decoration: none;
	line-height: 25px;
}
.btn_07 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 18px;
	padding-bottom: 2px;
}
.btn_07 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 18px;
	padding-bottom: 2px;
}
.btn_07 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 18px;
	padding-bottom: 2px;
}
.btn_07 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #802E76;
	text-decoration: none;
	line-height: 18px;
	padding-bottom: 2px;
}
.btn_07 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 18px;
	padding-bottom: 2px;
}
button.search {
	border: 0;
	width: 253px;
	height: 45px;
	background-image: url(../images/order.jpg);
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
}
button.search:hover {
	background-image: url(../images/order_01.jpg);
	cursor: pointer;
}
button.search span {
	display: none;

}
.title06 {
	font-family: Calibri;
	font-size: 18px;
	line-height: 30px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.title06 a:link  {
	font-family: Calibri;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.title06 a:visited {
	font-family: Calibri;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.title06 a:hover {
	font-family: Calibri;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFF00;
	text-decoration: none;
}
.title06 a:active {
	font-family: Calibri;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	color: #FFFFFF;
	text-decoration: none;
}
.posText {
	width:80px;
	height:20px;
	background-color:#ACDE14;
	padding-left:2px;
	padding-top:2px;
	color:#333333;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 2px;
	 -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #8FB911;
	}	

.posText:hover{
	width:80px;
	height:20px;
	background-color:#333333;
	padding-left:2px;
	padding-top:2px;
	color:#FFFFFF;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 2px;
	 -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333333;
	}	
	.text1 {
	color:#666666;
	font-size:12px;
	padding: 1px;
	font-family: Arial, Helvetica, sans-serif;
}
.title03 {
	font-family: Calibri;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #666666;
	padding-bottom: 3px;
	}
	
/*Form Styles*/

.text {
	width:auto;
	height:23px;
	background-color:#FCFCFC;
	border:1px solid #CCCCCC;
	padding-left:2px;
	padding-top:2px;
	color:#666666;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	}
.btnText {
	width:80px;
	height:20px;
	background-color:#333333;
	padding-left:2px;
	padding-top:2px;
	color:#FFFFFF;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 2px;
	 -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333333;
	}	

.btnText:hover{
	width:80px;
	height:20px;
	background-color:#FFFFFF;
	padding-left:2px;
	padding-top:2px;
	color:#333333;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 2px;
	 -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	}	
#box{
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #0198E1;
	width: 233px;
}
#box01{
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #1CAA3F;
	width: 233px;
}
#box02{
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
}
#box03{
background-image: linear-gradient(bottom, rgb(238,27,173) 25%, rgb(255,54,208) 63%, rgb(255,81,250) 82%);
background-image: -o-linear-gradient(bottom, rgb(238,27,173) 25%, rgb(255,54,208) 63%, rgb(255,81,250) 82%);
background-image: -moz-linear-gradient(bottom, rgb(238,27,173) 25%, rgb(255,54,208) 63%, rgb(255,81,250) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(238,27,173) 25%, rgb(255,54,208) 63%, rgb(255,81,250) 82%);
background-image: -ms-linear-gradient(bottom, rgb(238,27,173) 25%, rgb(255,54,208) 63%, rgb(255,81,250) 82%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(238,27,173)),
	color-stop(0.63, rgb(255,54,208)),
	color-stop(0.82, rgb(255,81,250))
);
}
#example1 {
	width:70px;
	height:0px;
	position: relative;
}

.topadd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	line-height: 18px;
	text-transform: uppercase;
}
.news {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.news {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.news a:link  {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.news a:visited {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.news a:hover {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #E6BE02;
	text-decoration: none;
}
.news a:active {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.leftAlign
{
	 text-align:left;
}
.rightAlign
{
	text-align:right;
}