<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TransportMandiEntities" connectionString="metadata=res://*/WebTransport.csdl|res://*/WebTransport.ssdl|res://*/WebTransport.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=136.243.149.22,1443;Initial Catalog=TransportTestNew;Persist Security Info=True;User ID=sa;Password=41kc*mRq4IWyUK5eW6E;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TransportMandiEntities" connectionString="metadata=res://*/WebTransport.csdl|res://*/WebTransport.ssdl|res://*/WebTransport.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ACER-PC\SQLEXPRESS;Initial Catalog=TransportMandi;integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>